customtkinter>=5.2,<6
pywebview>=5,<6

pandas>=2.2,<3
numpy>=1.26,<2
matplotlib>=3.8,<4
Pillow>=10,<12
pyarrow>=15,<20
python-dateutil>=2.9,<3
requests>=2.31,<3

openpyxl>=3.1,<4
python-docx>=1.1,<2

spacy>=3.8,<4
stanza>=1.8,<2

PyMuPDF>=1.24,<2
easyocr>=1.7,<2

transformers>=4.35,<5
peft>=0.10,<1
memory-profiler>=0.61,<1
sacremoses>=0.1,<1
spacy-alignments>=0.9,<1
spacy-transformers>=1.3,<2
git+https://github.com/ipipan/herference.git
